* {
    box-sizing: border-box;
}

body {
    background-color: #555555;
    color: #ffffff;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.wrapper {
    width: 100%;
}

.main {
    width: 100%;
    padding: 10px;
    float: left;
}

.half {
    width: 50%;
    padding: 10px;
    float: left;
}

.text-center {
    text-align: center;
}