a:link, a:visited {
    padding: 10px 20px;
    color: black;
    background-color: gold;
    text-decoration: none;
    font-family: font-family: "Century Gothic", CenturyGothic, sans-serif;
    border-radius: 2px;
    transition-duration: 0.3s;
}

a:active, a:hover {
    background-color: orange;
    transition-duration: 0.3s;
}

a:link.imgLink {
    background-color: transparent;
    padding: 0;
}