table, th, td {
    border: 1px black solid;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

table {
    border-spacing: 2px;
    margin: 2px;
}

table tr th {
    background-color: black;
    color: white;
}

table tr:nth-child(even) {
    background-color: lightgray;
}

table tr:nth-child(odd) {
    background-color: gray;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.row {
    width: 100%;
}

.half {
    display: inline-block;
    width: 49.8%;
}

#testTable {
    background-color: azure;
}