* {
    box-sizing: border-box;
}

body {
    background-color: #555555;
    color: #ffffff;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
    width: 100%;
    padding: 10px;
}