body {
    background-color: lightgray;
    margin: 0;
}

.wrapper {
    width: 100%;
}

.row {
    width: 100%;
}

.half {
    width: 49.7%;
    display: inline-block;
}

.text-center {
    text-align: center;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.nav-item {
  float: left;
}

.nav-item a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.nav-item a:hover {
  background-color: #111111;
}