html, body {
    height: 100%;
    margin: 0; 
    /*font-family: 'Josefin Sans', sans-serif !important;*/
    font-family: 'Raleway', sans-serif !important;
    font-size: 1rem;
    background-color: #1a1a1a !important;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    margin-bottom: -60px;
}

.footer,
.push {
    height: 60px;
}

.footer {
    background-color: #000000;
    color: #ffffff;
}

.navigation {
    background-color: #000000 !important;
}

.login {
    background-image: url('../img/2.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.loginBox {
    background-color: aliceblue;
}

.card, .card-header, .card-body, .card-footer {
    border: 0 !important;
    background-color: #ffffff !important;
}

.nav-link, .navbar-brand {
    text-decoration: none !important;
    color: #ffffff !important;
    transition-duration: 0.3s !important;
}

.nav-link:hover, .navbar-brand:hover {
    text-decoration: none !important;
    color: #ffffff !important;
    transition-duration: 0.3s !important;
}

.card, input {
    border-radius: 0 !important;
}

.fileUpload {
    opacity: 0.0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100% !important;
    height:100% !important;
}

audio {
    margin-top: 2px;
}

.hrLight {
    background-color: white !important;
}

.songList {
    background-color: #1a1a1a !important;
    transition-duration: 0.3s;
    height: 2.7rem !important;
}

.songList:hover {
    background-color: #131313 !important;
    transition-duration: 0.3s;
}

.heading {
    height: 2.5rem;
    border-bottom: 1px solid white;
}

.customFileUpload input[type="file"] {
    display: none;
}

.customFileUpload {
    border: 1px solid #ccc;
    transition-duration: 0.2s;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.customFileUpload:hover {
    border: 1px solid #ccc;
    color: #000000;
    background-color: #ffffff;
    transition-duration: 0.2s;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}